@charset "UTF-8";
@font-face {
  font-family: "Montserrat regular", "Montserrat medium", "Lato regular", "Lato bold";
  src: url("fontsMontserrat regular.ttf");
  src: url("fontsMontserrat medium.otf");
  src: url("fontsLato regular.ttf");
  src: url("fontsLato bold.ttf"); }
@font-face {
  font-family: 'Lato bold';
  src: url("fonts/Lato bold.eot");
  src: local("☺"), url("fonts/Lato bold.woff") format("woff"), url("fonts/Lato bold.ttf") format("truetype"), url("fonts/Lato bold.svg") format("svg");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'Lato regular';
  src: url("fonts/Lato regular.eot");
  src: local("☺"), url("fonts/Lato regular.woff") format("woff"), url("fonts/Lato regular.ttf") format("truetype"), url("fonts/Lato regular.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Montserrat medium';
  src: url("fonts/Montserrat medium.eot");
  src: local("☺"), url("fonts/Montserrat medium.woff") format("woff"), url("fonts/Montserrat medium.ttf") format("truetype"), url("fonts/Montserrat medium.svg") format("svg");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: 'Montserrat regular';
  src: url("fonts/Montserrat regular.eot");
  src: local("☺"), url("fonts/Montserrat regular.woff") format("woff"), url("fonts/Montserrat regular.ttf") format("truetype"), url("fonts/Montserrat regular.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
body {
  margin: 0 auto;
  width: 100%; }

header {
  width: 100%;
  display: flex;
  flex-direction: column; }

.header-bg {
  width: 100%; }

.block-navigation {
  background: #373c3f;
  width: 100%;
  display: flex;
  justify-content: space-between; }

.navigation-title {
  color: #ffffff;
  font-family: "Montserrat medium";
  font-size: 0.75rem;
  padding-top: 9px;
  padding-left: 18px; }

.navigation-menu {
  position: relative; }
  .navigation-menu span {
    margin-top: 16px;
    margin-left: 13px;
    display: block;
    height: 2px;
    width: 16px;
    background: #ffffff;
    position: absolute; }
  .navigation-menu:before {
    content: ' ';
    margin-top: 12px;
    margin-left: 13px;
    display: block;
    height: 2px;
    width: 16px;
    background: #ffffff;
    position: absolute; }
  .navigation-menu:after {
    content: ' ';
    margin-top: 20px;
    margin-left: 13px;
    display: block;
    height: 2px;
    width: 16px;
    background: #ffffff;
    position: absolute; }
  .navigation-menu .navigation-menulist {
    top: -136px;
    width: 142px;
    background-color: #ece6e6;
    position: absolute;
    right: 0px;
    list-style: none;
    z-index: -2;
    text-align: left;
    font-family: "Lato regular";
    font-size: 0.8rem;
    transition: all 0.5s ease 0s; }
    .navigation-menu .navigation-menulist ul {
      margin-left: 0px; }
    .navigation-menu .navigation-menulist li {
      border: #868484 solid 1px;
      padding-left: 12px;
      padding-top: 11px;
      margin-left: -40px;
      padding-bottom: 3px;
      height: 16px;
      cursor: pointer; }
      .navigation-menu .navigation-menulist li:hover {
        background-color: #3d3838;
        color: #ffffff; }

.navigation-menulist.active {
  right: 0px;
  top: 24px;
  z-index: 2;
  transition: all 0.5s ease 0s;
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -ms-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s; }

.navigation-menu.active::before {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  margin-top: 18px;
  transition: all 0.3s ease 0s; }

.navigation-menu.active::after {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  margin-top: 18px;
  transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s; }

.navigation-menuUp.active {
  display: none;
  transition: all 0.3s ease 0s; }

.navigation-menu {
  width: 41px;
  height: 36px;
  background: #202529;
  text-align: center; }

.header-content {
  position: absolute;
  margin-top: 35px;
  margin-left: 21px;
  color: #ffffff;
  font-family: "Lato bold"; }
  .header-content p {
    font-size: 0.98rem; }
  .header-content :nth-child(2n) {
    margin-top: -10px;
    margin-bottom: 5px; }
  .header-content a {
    font-size: 14px;
    text-decoration: none;
    color: #a9d1da; }

.menu {
  display: flex;
  flex-direction: column; }

.menu-block1 {
  margin-top: 4px;
  height: 75px;
  position: relative;
  margin-bottom: 0px; }
  .menu-block1 .block1-bg {
    height: 75px;
    width: 100%;
    overflow: hidden;
    position: relative; }
    .menu-block1 .block1-bg img {
      position: absolute;
      top: -233px;
      left: -65px;
      width: 100%; }
  .menu-block1 p {
    position: absolute;
    color: #ffffff;
    font-family: "Lato bold";
    top: 3px;
    left: 63px;
    font-size: 1.25rem; }
  .menu-block1 :nth-child(3) {
    position: absolute;
    width: 22%;
    height: 75px;
    top: 0px;
    right: 0px;
    background: #acd8ad;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; }
    .menu-block1 :nth-child(3) span {
      width: 7px;
      height: 7px;
      display: block;
      border-top: #ffffff solid 1px;
      border-right: #ffffff solid 1px;
      rotate: 45deg; }

.menu-block2 {
  margin-top: 2px;
  height: 75px;
  position: relative;
  margin-bottom: 0px; }
  .menu-block2 .block2-bg {
    height: 75px;
    width: 100%;
    overflow: hidden;
    position: relative; }
    .menu-block2 .block2-bg img {
      position: absolute;
      top: -170px;
      left: -3px;
      width: 80%; }
  .menu-block2 p {
    position: absolute;
    color: #ffffff;
    font-family: "Lato bold";
    top: 4px;
    left: 72px;
    font-size: 1.25rem; }
  .menu-block2 :nth-child(3) {
    position: absolute;
    width: 22%;
    height: 75px;
    top: 0px;
    right: 0px;
    background: #acd8ad;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; }
    .menu-block2 :nth-child(3) span {
      width: 7px;
      height: 7px;
      display: block;
      border-top: #ffffff solid 1px;
      border-right: #ffffff solid 1px;
      rotate: 45deg; }

.menu-block3 {
  margin-top: 1px;
  height: 75px;
  position: relative;
  margin-bottom: 0px; }
  .menu-block3 .block3-bg {
    height: 75px;
    width: 100%;
    overflow: hidden;
    position: relative; }
    .menu-block3 .block3-bg img {
      position: absolute;
      top: -28px;
      left: -3px;
      width: 80%; }
  .menu-block3 p {
    position: absolute;
    color: #ffffff;
    font-family: "Lato bold";
    top: 3px;
    left: 82px;
    font-size: 1.25rem; }
  .menu-block3 :nth-child(3) {
    position: absolute;
    width: 22%;
    height: 75px;
    top: 0px;
    right: 0px;
    background: #acd8ad;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; }
    .menu-block3 :nth-child(3) span {
      width: 7px;
      height: 7px;
      display: block;
      border-top: #ffffff solid 1px;
      border-right: #ffffff solid 1px;
      rotate: 45deg; }

.content {
  margin-top: 20px;
  width: 100%; }

.content-block1 {
  font-family: 'Lato regular';
  text-align: center; }
  .content-block1 .block1-title {
    font-size: 1.25rem;
    color: #535456; }
  .content-block1 .block1-Littletext {
    font-size: 0.63rem;
    text-align: left;
    margin-left: 9px;
    margin-top: -20px;
    color: #cbccce; }
  .content-block1 .block1-menutitle {
    background-color: #3f4043;
    height: 31px;
    color: #acd8ad;
    font-size: 1.25rem;
    margin-top: -1px;
    padding-top: 6px;
    text-align: left;
    padding-left: 18px; }

.block1-price {
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .block1-price div {
    display: block;
    text-align: justify;
    margin-top: 1px;
    margin-bottom: -1px;
    height: 50px; }
    .block1-price div p {
      display: inline-block;
      width: 72%;
      font-size: 0.85rem;
      margin-left: 15px;
      margin-bottom: 0px;
      text-align: justify; }
    .block1-price div :nth-child(2) {
      margin-right: 23px;
      text-align: right;
      width: 10%;
      font-size: 0.8rem; }
    .block1-price div :nth-child(3) {
      margin-top: 5px;
      text-align: justify;
      width: 90%;
      font-size: 0.54rem; }
  .block1-price div:nth-of-type(1) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 15px; }
    .block1-price div:nth-of-type(1) p {
      font-size: 0.93rem;
      margin-top: -5px;
      margin-left: 18px;
      color: #3f4043; }
    .block1-price div:nth-of-type(1) img {
      width: 25px;
      height: 25px;
      margin-right: 17px;
      margin-top: -9px; }
  .block1-price div:nth-of-type(5) {
    margin-top: 3px;
    margin-bottom: 29px; }

#img2 {
  width: 12px;
  height: 24px;
  margin-top: -7px;
  margin-right: 23px; }

.content-block2 {
  font-family: 'Lato regular';
  text-align: center;
  margin-top: 40px; }
  .content-block2 .block2-Litletext {
    font-size: 10px;
    text-align: left;
    margin-left: 9px;
    margin-top: -20px;
    color: #ffffff; }
  .content-block2 .block2-menutitle {
    background-color: #acd8ad;
    height: 31px;
    color: #ffffff;
    font-size: 1.25rem;
    margin-top: -1px;
    padding-top: 6px;
    text-align: left;
    padding-left: 18px; }

.block2-price {
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .block2-price div {
    display: block;
    text-align: justify;
    margin-top: 0px;
    margin-bottom: 1px;
    height: 50px; }
    .block2-price div p {
      display: inline-block;
      width: 70%;
      font-size: 0.85rem;
      margin-left: 16px;
      margin-bottom: 0px;
      text-align: justify; }
    .block2-price div :nth-child(2) {
      margin-right: 23px;
      text-align: right;
      width: 10%;
      font-size: 0.8rem; }
    .block2-price div :nth-child(3) {
      margin-top: 5px;
      margin-left: 18px;
      text-align: justify;
      width: 89%;
      font-size: 0.54rem; }
  .block2-price div:nth-of-type(1) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 15px; }
    .block2-price div:nth-of-type(1) p:nth-of-type(1) {
      text-align: left;
      width: 210px; }
    .block2-price div:nth-of-type(1) p {
      font-size: 0.94rem;
      margin-top: -5px;
      margin-left: 18px;
      color: #3f4043; }
    .block2-price div:nth-of-type(1) img {
      width: 30px;
      height: 22px;
      margin-right: 16px;
      margin-top: -9px; }
  .block2-price div:nth-of-type(5) {
    margin-top: -2px;
    margin-bottom: 31px; }

#img3 {
  width: 20px;
  height: 20px;
  margin-right: 22px;
  margin-top: -7px; }

footer {
  background-color: #acd8ad;
  text-align: center;
  color: #ffffff;
  margin-top: 53px;
  height: 55px;
  display: flex;
  flex-direction: column;
  font-family: 'Montserrat regular';
  font-size: 0.75rem; }
  footer p:nth-of-type(1) {
    margin-top: 10px;
    margin-bottom: 0px;
    margin-left: 3px; }
  footer p:nth-of-type(2) {
    margin-top: 2px;
    margin-left: 3px; }

/*# sourceMappingURL=style.css.map */
